extends ../shared/template
block content
  .col-xs-2
  .col-xs-8
    h2= msg.sender.name
      p Date : #{msg.date.toDateString()}
      p Body : #{msg.message}
      .col-xs-6
        form(role='form', method='post', action='/inbox/#{sender._id}')
          input(type='hidden' name='messages')
          .form-group
          label(for='message') Message
            textarea.form-control#message(name='message', autofocus=true)
          .form-group
          button.btn.btn-info.btn-sm(type='submit') Send Message
      .col-xs-6
    .col-xs-2

  block scripts
