extends ../shared/template
block content
    h2.center <strong>Auction For</strong>: #{auction.itemForOffer.name}
    .row
      .col-xs-3
      .col-xs-3
        img.img-border.img-responsive.img-rounded(src="#{auction.itemForOffer.photo}")
      .col-xs-3
        .row 
          .col-xs-12: h3 Item Description
        .row
          .col-xs-12.item-description #{auction.itemForOffer.description}
        .row
    .row
          .col-xs-2
          .col-xs-8
            if items.length
              h3.center Bid for this item:
              form(method='post' action='/auction/#{auction._id}/bid')
                .form-group
                  select.item-list(name='itemId')
                    each item in items
                      option.form-control(value='#{item._id}')= item.name
                button.btn.btn-default.item-list(type='submit') Place Bid
            else 
              h2.center You have nothing to bid. Click 'Manage Items' to add some!
            a.btn.btn-warning.btn-lg.contact(href='/message/#{auction.itemForOffer.ownerId}/send') Contact Seller 
          .col-xs-2

    if auction.bids.length
      h3.center Current Bids
      hr
      each bid, index in auction.itemsForBid
        .panel.panel-primary.bid
          .panel-heading
            h3 Bid ##{index + 1} #{bid.name}
          .panel-body.bidBody
            .thumbnail(style="background-image: url(#{bid.photo});")
            h4 Owner: #{auction.itemOwners[index].alias}
            h3 Description
            .description= bid.description
    else
      .row
        .col-xs-12: h2 There are currently no bids on this item...

block scripts
