extends ../shared/template
block content
    h2.center <strong>Your auction:</strong> #{auction.name}
    .row
      .col-xs-3
      .col-xs-3
        img.img-border.img-responsive.img-circle(src="#{auction.itemForOffer.photo}")
      .col-xs-3
        .row
          .col-xs-12: h3 Item Description:
        .row
          .col-xs-12.item-description #{auction.itemForOffer.description}
      .col-xs-3

    if auction.bids.length
      h3.center Bids For Your Item
      hr
      each bid, index in auction.itemsForBid
       form(method='post' id='acceptBid' action='/auction/#{auction._id}/accept')
        .panel.panel-primary.bid
          .panel-heading
            h3 Bid ##{index + 1} #{bid.name}
          .panel-body.bidBody
            .thumbnail(style="background-image: url(#{bid.photo});")
            h4 Owner: #{auction.itemOwners[index].alias}
            h3 Description
            .description= bid.description

          .panel-heading.acceptBid
            .input-group
                span.input-group-addon
                  label Swap for this item!
                  input.form-control(for='itemId' type='radio' form='acceptBid' name='bidderItem' value='#{bid._id}' )
                  input(type='hidden' name='bidderId' value='#{auction.itemOwners[index]._id}')
                  input(type='hidden' name='auctionItem' value='#{auction.itemForOffer._id}')
          button.swap.btn.btn-success(type='submit' form='acceptBid') Swap!



    else
      .row
        .col-xs-12: h2 There are currently no bids on your item...


block scripts
  script(src='/js/user/seller-show.js')
