extends ../shared/template
block content
  .row
    .col-xs-1
    .col-xs-5
      img.profile-pic.img-rounded(src=client.photo)
      .col-xs-2
      .col-xs-6.well.profile-info
        h2= client.alias
        h5= client.email
        h5= client.phone
        h5= client.loc.name
        a(href='/items/manage') Manage Items
      .col-xs-2
    .col-xs-5
      form#edit-profile(role='form', method='post', action='/user/profile')
        input(type='hidden', name='_method', value='put')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', value=client.email, autofocus=true)
        .form-group
          label(for='alias') Alias
          input.form-control#alias(type='text', name='alias', value=client.alias)
        .form-group
          label(for='phone') Phone
          input.form-control#phone(type='tel', name='phone', value=client.phone)
        .form-group
          label(for='photo') Photo
          input.form-control#photo(type='text', name='photo', value=client.photo)
        .form-group
          label(for='loc[name]') Location
          input.form-control#loc(type='text', name='loc[name]', value=client.loc.name)
          input#lat(type='hidden', name='loc[lat]')
          input#lng(type='hidden', name='loc[lng]')
        button#edit-profile-submit.btn.btn-primary(type='submit') Submit
      .col-xs-1


block scripts
  script(src='/js/user/geocode-form.js')
