extends ../shared/template
block content
  .row
    .col-xs-4
          h2= item.name
          img(src=item.photo)#showImg.thumbnail
          p= item.description
    .col-xs-4
      form(role='form', method='post', action='/items/auction/')
        input#ownwerId(type='hidden', name='ownerId', value= item.ownerId)
        input#offeredItemId(type='hidden', name='offeredItemId', value= item._id)
        .form-group
          label(for='name') Name
          input.form-control#auctionName(type='text', name='name',placeholder='Give a short description', autofocus=true)
        .form-group
          label(for='tag') Tag
          select.form-control#tag(name='tag')
            each tag in tags
              option(value= tag)= tag
          button.btn.btn-primary(type='submit') Add to Auction
      form(method='post', action='/items/#{item._id}')
            input(type='hidden', name='_method', value='delete')
            button.btn.btn-danger(type='submit') Delete 
    .col-xs-4
